QActionGroup,
QButton,
QCheckBox,
QComboBox,
QFrame,
QGroupBox,
QLabel,
QMenuBar,
QMenu,
QPushButton,
QRadioButton,
QSpinBox,
QStatusBar,
QTabBar,
QTabWidget,
QTableView,
QTextEdit,
QToolBar,
QToolButton,
QToolTip,
QTreeView,
QLineEdit
{
    font-family: "Economica";
}

QToolBar#MainToolbar
{
    background-image: url(:/backgrounds/headerbg);
    border: 1px;
}


QFrame#walletBalanceFrame , QFrame#recentTransactionsFrame, QFrame#requestedPaymentsFrame, QFrame#receiveDetailsFrame, QStackedWidget#SendCoinsEntry, QScrollArea#scrollArea, QVBoxLayout#entries
{
    background-color: rgba(66, 162, 255, 0.70);
    border-color: #AFD7FD;
    border-style: solid;
    border-width: 1px;
}

QWidget#WalletMainPage
{
    background-image: url(:/backgrounds/bluenoise);
    border: 1px;    
}
