/* Toolbar Styling */
QToolButton
{
    color: #C0C0C0;
    font: bold;    
}

QToolBar#MainToolbar
{
    background-image: url(:/backgrounds/headerbg);
    border: 1px;
}

QToolBar > QToolButton:checked, QToolBar > QToolButton:hover {
	color:#000000;
	font-weight:bold;
}

/* Menu */

QMenuBar {
background-color:#656A75;
}

QMenuBar::item {
background-color:#656A75;
color:#ffffff;
}

QMenuBar::item:selected {
background-color:#9198A7;
}

QMenu {
background-color:#767A83;
}

QMenu::item {
color:#ffffff;
}

QMenu::item:selected {
background-color:#9198A7;
color:#ffffff;
}

/* Windows & Dialogs */

QWidget#WalletMainPage, 
QWidget#RPCConsole, 
QDialog
{
    background-image: url(:/backgrounds/greybg);
    border: 1px;    
}

/* Explicit Definition of Styles*/

/* Frames*/
/* Overview Page*/
QFrame#walletBalanceFrame , 
QFrame#recentTransactionsFrame, 
QFrame#requestedPaymentsFrame, 
QFrame#receiveDetailsFrame, 
QStackedWidget#SendCoinsEntry, 
QScrollArea#scrollArea, 
QVBoxLayout#entries,
/* Send Payment Page*/
QFrame#frameCoinControl,
QFrame#frameFee,
/* Receive Coins Page */
QFrame#receiveDetailsFrame,
QFrame#requestedPaymentsFrame,
/* Coin Control Dialog */
QFrame#frameCoinControlMode
/* Help Message Dialog */
/* QFrame#frameHelpMessageBelowLogo */
{
    background-color: rgba(66, 162, 255, 0.70);
    border-color: #AFD7FD;
    border-style: solid;
    border-width: 0px;
}

/* Scroll Areas*/
/* Send Payment Page*/
QScrollArea#scrollArea
{
    background: transparent;
}

/* Section Headings*/
/* Overview Page*/
QLabel#WalletBalancesHeading,
QLabel#RecentTransactionsHeading,
QLabel#labelCoinControlFeatures,
/* Receive Coins Page */
QLabel#labelRequestPaymentsHistory,
/* Intro Page */
QLabel#welcomeLabel
{
    color: #FFFFFF;    
    font: bold;        
}

/* Item Headings*/
/* Overview Page*/
QLabel#labelBalanceText,
QLabel#labelPendingText,
QLabel#labelImmatureText,
QLabel#labelTotalText,
/* Send Payment Page*/
QLabel#payToLabel,
QLabel#labellLabel,
QLabel#amountLabel,
QLabel#messageLabel,
QLabel#labelFeeHeadline,
QLabel#labelFeeMinimized,
QLabel#labelSendPageBalance,
QLabel#labelCoinControlQuantityText,
QLabel#labelCoinControlAmountText,
QLabel#labelCoinControlFeeText,
QLabel#labelCoinControlAfterFeeText,
QLabel#labelCoinControlBytesText,
QLabel#labelCoinControlLowOutputText,
QLabel#labelCoinControlChangeText,
QLabel#labelSmartFee3,
QLabel#labelSmartFeeNormal,
QLabel#labelSmartFeeFast,
QLabel#confirmationTargetLabel,
/* Receive Coins Page */
QLabel#labelReceiveCoinsLabel,
QLabel#labelReceiveCoinsAmount,
QLabel#labelReceiveCoinsMessage,
/* Ask Password Page */
QLabel#passLabel1,
QLabel#passLabel2,
QLabel#passLabel3,
/* Coin Control Dialog */
QLabel#labelCoinControlQuantityText,
QLabel#labelCoinControlAmountText,
QLabel#labelCoinControlFeeText,
QLabel#labelCoinControlAfterFeeText,
QLabel#labelCoinControlBytesText,
QLabel#labelCoinControlLowOutputText,
QLabel#labelCoinControlChangeText,
/* Edit Address Dialog */
QLabel#labelEditAddressDialogLabel,
QLabel#labelEditAddressDialogAddress,
/* Open URI Page */
QLabel#labelURI,
/* Sign Verify Message Page */
QLabel#signatureLabel_SM
{
    color: #FFFFFF;
    font: bold;    
}

/* Item Values*/
/* Overview Page*/
QLabel#labelBalance,
QLabel#labelWatchAvailable,
QLabel#labelUnconfirmed,
QLabel#labelWatchPending,
QLabel#labelImmature,
QLabel#labelWatchImmature,
QLabel#labelTotal,
QLabel#labelWatchTotal,
QLabel#labelSpendable,
QLabel#labelWatchonly,
/* Send Payment Page*/
QLabel#labelCoinControlQuantity,
QLabel#labelCoinControlAmount,
QLabel#labelCoinControlFee,
QLabel#labelCoinControlAfterFee,
QLabel#labelCoinControlBytes,
QLabel#labelCoinControlLowOutput,
QLabel#labelCoinControlChange,
/* Coin Control Dialog */
QLabel#labelCoinControlQuantity,
QLabel#labelCoinControlAmount,
QLabel#labelCoinControlFee,
QLabel#labelCoinControlAfterFee,
QLabel#labelCoinControlBytes,
QLabel#labelCoinControlLowOutput,
QLabel#labelCoinControlChange
{
    color:#AFD7FD;
}

/* Buttons*/
/* Send Payment Page*/
QPushButton#pushButtonCoinControl,
QPushButton#buttonChooseFee,
QPushButton#buttonMinimizeFee,
QPushButton#sendButton,
QPushButton#clearButton,
QPushButton#addButton,
/* Receive Coins Page */
QPushButton#receiveButton,
QPushButton#clearButton,
QPushButton#showRequestButton,
QPushButton#removeRequestButton,
/* Address Book Page */
QPushButton#newAddress,
QPushButton#copyAddress,
QPushButton#deleteAddress,
QPushButton#exportButton,
QPushButton#closeButton,
/* Coin Control Dialog */
QPushButton#pushButtonSelectAll,
/* Intro Page */
QPushButton#ellipsisButton,
/* Open URI Page */
QPushButton#selectFileButton,
/* Sign Verify Message Page */
QPushButton#addressBookButton_SM,
QPushButton#pasteButton_SM,
QPushButton#signMessageButton_SM,
QPushButton#clearButton_SM,
QPushButton#copySignatureButton_SM,
QPushButton#addressBookButton_VM,
QPushButton#verifyMessageButton_VM,
QPushButton#clearButton_VM,
/* Receive Request Dialog */
QPushButton#btnCopyURI,
QPushButton#btnCopyAddress,
QPushButton#btnSaveAs
{
    color:#3e3e3e;
}

/* Dialog Buttons */
/* Coin Control Dialog */
/* Ask Password Page */ 
/* Edit Address Dialog */
/* Intro Page */
/* Open URI Page */
/* Transaction Description Dialog */
/* Receive Request Dialog */
QDialogButtonBox#buttonBox,
/* Help Message Dialog */
QDialogButtonBox#okButton
{
    dialogbuttonbox-buttons-have-icons: 1;
    icon-size: 16px 16px;
    dialog-ok-icon: url(:/icons/synced);
    dialog-cancel-icon: url(:/icons/quit);
}

/* Checkboxes*/
/* Send Payment Page*/
QCheckbox#checkboxSubtractFeeFromAmount,
QCheckbox#checkBoxCoinControlChange,
QCheckbox#checkBoxMinimumFee,
QLabel#labelMinFeeWarning,
/* Receive Coins Page */
QLabel#reuseAddress
{
    color: #FFFFFF;
    font: bold;    
}

/* Radio Buttons*/
/* Send Payment Page*/
QRadioButton#radioSmartFee,
QRadioButton#radioCustomFee,
QRadioButton#radioCustomPerKilobyte,
QRadioButton#radioCustomAtLeast,
/* Coin Control Dialog */
QRadioButton#radioTreeMode,
QRadioButton#radioListMode,
/* Intro Page */
QRadioButton#dataDirDefault,
QRadioButton#dataDirCustom
{
    color: #FFFFFF;
}

/* Text Editors*/
/* Send Payment Page*/
QValidateLineEdit#payTo,
BitcoinAmountField#payAmount,
QValidateLineEdit#lineEditCoinControlChange,
BitcoinAmountField#customFee,
/* Edit Address Dialog */
QLineEdit#labelEdit,
QValidateLineEdit#addressEdit,
/* Help Message Dialog */
/* QTextEdit#helpMessage, */
/* Intro Page */
QLineEdit#dataDirectory,
/* Open URI Page */
QValidateLineEdit#uriEdit,
/* Transaction Description Dialog */
QTextEdit#detailText,
/* Sign Verify Message Page */
QValidateLineEdit#addressIn_SM,
QValidateLineEdit#addressIn_VM,
QPlainTextEdit#messageIn_SM,
QPlainTextEdit#messageIn_VM,
QLineEdit#signatureOut_SM,
QValidateLineEdit#signatureIn_VM,
/* Receive Request Dialog */
QTextEdit#outUri
{
    font: bold 11pt;
}

/* Note Labels */
/* Send Payment Page*/
QLabel#labelCoinControlAutomaticallySelected,
QLabel#labelSmartFee2,
/* Receive Coins Page */
QLabel#labelReceiveCoinsDialog,
/* Address Book Page */
QLabel#labelExplanation,
/* Coin Control Dialog */
QLabel#labelLocked,
/* Help Message Dialog */
QLabel#aboutMessage,
/* Intro Page */
QLabel#storageLabel,
QLabel#sizeWarningLabel,
/* Open URI Page */
QLabel#labelOpenUriNote,
/* Sign Verify Message Page */
QLabel#infoLabel_SM,
QLabel#infoLabel_VM,
QLabel#statusLabel_SM,
QLabel#statusLabel_VM
{
    color:#000000;
}

/* Error Labels */
/* Send Payment Page*/
QLabel#labelCoinControlInsuffFunds,
/* Intro Page */
QLabel#errorMessage
{
    color:#FF0000;
}

/* Waning Labels */
/* Ask Password Page */
QLabel#warningLabel
{
    color:#FF7E00;
}
